.header {
    //Position and alignment
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    //Sizing
    padding: 20px;
    //Content style
    color: white;
    background-color: #00a183;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
