nav {
    //Position and alignment
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 1;
    //Sizing
    height: 100px;
    width: 100vw;
    padding-left: 1.5em;
    padding-right: 1.5em;
    //Content style
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: 'Bungee', sans-serif;
    font-weight: 400;

    button {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        i {
            color: orange;
        }
    }    
}